{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static "/css/home.css" %}>
	<link rel="stylesheet" href={% static "/css/slider.css" %}>
	<link rel="stylesheet" href={% static "/css/carousel.css" %}>
{% endblock head %}

{% block title %}SAMER{% endblock title %}

{% block header %}
	<div class="container">
		<div class="profile">
			<div class="profile-image">
				<img src={{profile.profile_source.first.url}} alt="Samer Logo">
			</div>
			<div class="profile-user-settings">
				<h1 class="profile-user-name">{{profile.name}}</h1>
				{% if perms.root.view_root %}
				    <button class="btn profile-edit-btn"><a href={% url "home:home_edit_profile" %}>Edita el perfil</a></button>
                {% endif %}
			</div>
			<div class="profile-bio">
				<p><span class="profile-real-name">{{profile.secondary_name}}</span></p>
                {% for text in profile.descriptions %}
                    <p>{{text}}</p>
                {% endfor %}
                <a href="{{profile.url}}" target="_blank" rel="noopener noreferrer" class="profile-link">{{profile.url}}</a>
			</div>
		</div>
		<div class="carousel-container">
    		<button class="carousel-button prev" onclick="carouselScrollLeft()">&#10094;</button>
    		<div class="carousel-wrapper">
        		<div class="carousel-images">
					{% for tag in tags %}
						<a href="{% url "home:home_tag" tag.id%}"><img src="{{tag.tag_source.first.url}}" alt="{{tag.name}}"></a>
					{% endfor %}
        		</div>
    		</div>
    		<button class="carousel-button next" onclick="carouselScrollRight()">&#10095;</button>
		</div>
        <div class="content-options">
            <h2><a href="{% url "home:home_images" %}">IMAGENES</a></h2>
            <h2><a href="{% url "home:home_videos" %}">VIDEOS</a></h2>
        </div>
	</div>
{% endblock header %}

{% block content %}
	<div class="container">
		<div class="gallery">
            {% for post in posts.all %}
			<div class="gallery-item" tabindex="0">
            	{% if post.sources.first.type == 'IM' %}
					{% if post.urls|length == 1%}
				    	<img src={{post.sources.first.url}} class="gallery-image" alt={{post.name}}>
					{% else %}
						<div class="slider-wrapper">
							<div class="slider">
								{% for source in post.sources.all %}
				    				<img id="slide-{{source.name}}-{{forloop.counter}}" src={{source.url}} class="gallery-image slide" alt="{{source.name}}-slide-{{forloop.counter}}">
								{% endfor %}
							</div>
							<div class="dots">
								{% for source in post.sources.all %}
									<a href="#slide-{{source.name}}-{{forloop.counter}}"></a>
								{% endfor %}
							</div>
						</div>
					{% endif %}
                {% else %}
				    <img src={{post.sources.first.thumbnail_url}} class="gallery-image" alt={{post.name}}>
                {% endif %}
				<div class="gallery-item-info">
					<ul>
						<li class="gallery-item-likes">
							<span class="visually-hidden material-icons">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i><a href="{% url 'posts:add_remove_like' post.id %}?redirect={% if post.sources.first.type == "IM" %}home:home_images{% else %}home:home_videos{% endif %}">{{ post.likes.all|length }} <i class="material-icons">favorite</i></a>
						</li>
						<li class="gallery-item-comments">
							<span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i><a href="{% url 'posts:comment' post.id post.sources.first.type %}">{{post.comments.all|length}} <i class="material-icons">chat_bubble</i></a>
						</li>
					</ul>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
    <script src={% static "javascript/carousel.js" %}></script>
{% endblock content %}
