{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static "/css/home.css" %}>
{% endblock head %}

{% block title %}SAMER{% endblock title %}

{% block header %}
	<div class="container">
		<div class="profile">
		</div>
        <div class="content-options">
            <h2><a href="{% url "home:home_images" %}">IMAGENES</a></h2>
            <h2><a href="{% url "home:home_videos" %}">VIDEOS</a></h2>
        </div>
	</div>
{% endblock header %}

{% block content %}
	<div class="container">
		<div class="gallery">
            {% for post in posts %}
			<div class="gallery-item" tabindex="0">
                {% if post.type == "image" %}
				    <img src={{post.urls.0}} class="gallery-image" alt={{post.name}}>
                {% else %}
				    <img src={{post.thumbnail_url}} class="gallery-image" alt={{post.name}}>
                {% endif %}
				<div class="gallery-item-info">
					<ul>
						<li class="gallery-item-likes"><span class="visually-hidden material-icons">Likes:</span><i class="fas fa-heart" aria-hidden="true"></i><a href="{% url 'posts:add_remove_like' post.id %}?redirect={% if post.type == "image" %}home:home_images{% else %}home:home_videos{% endif %}">{{ post.likes|length }} <i class="material-icons">favorite</i></a></li>
						<li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i class="fas fa-comment" aria-hidden="true"></i><a href="{% url 'posts:comment' post.id post.type %}">{{post.comments}} <i class="material-icons">chat_bubble</i></a></li>
					</ul>
				</div>
			</div>
            {% endfor %}
		</div>
	</div>
{% endblock content %}
