{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static "css/root/posts.css" %}>
    <link rel="stylesheet" href={% static "css/questions.css" %}>
    {% block subhead %}{% endblock subhead %}
{% endblock head %}

{% block title %}SAMER QUESTIONS{% endblock title %}

{% block header %}
    <section class="questions-header">
        <h2>Comparte tus preguntas y encuentra respuestas</h1>
        <div class="search-questions">
            <input type="search" name="search-questions" id="search-questions" placeholder="Busca alguna pregunta...">
            <div class="dropdown">
                <button class="dropbtn" onmouseover="showOptions()">Busca por: <strong class="search-criteria">Titulo</strong></button>
                <div class="dropdown-content"></div>
            </div>
            <a class="create-question" href="{% url "questions:create" %}">Crear Pregunta</a>
        </div>
    </section>
{% endblock header %}

{% block content %}
    <section class="questions-content">
        {% block questions_content %}{% endblock questions_content %}
    </section>
    <script src={% static "javascript/questions.js" %}></script>
{% endblock content %}
