<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href={% static "images/samericon.png" %} type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href={% static "css/base.css" %}>
    <script src={% static "javascript/base.js" %}></script>
    {% block head %}{% endblock head %}
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <aside id="mySidebar" class="sidebar" onmouseover="toggleSidebar()" onmouseout="toggleSidebar()">
        <a href="{% url 'home:home_images' %}"><span><i class="material-icons">home</i><span class="icon-text">inicio</span></a><br>
        <a href="{% url 'questions:questions' %}"><span><i class="material-icons">question_mark</i><span class="icon-text">preguntas</span></a><br>
        {% if user_auth.is_login %}
            <a href="{% url 'users:logout' %}"><span><i class="material-icons">logout</i><span class="icon-text">cierra sesión</span></a><br>
        {% else %}
            <a href="{% url 'users:login' %}"><span><i class="material-icons">login</i><span class="icon-text">inicia sesión</span></a><br>
        {% endif %}
        {% if user_auth.is_admin %}
            <a href="{% url "root:root" %}"><span><i class="material-icons">admin_panel_settings</i><span class="icon-text">administrador</span></a><br>
        {% endif %}
    </aside>
    <section id="main">
        <header>
            {% block header %}{% endblock header %}
        </header>
        <main>
            {% block content %}{% endblock content %}
        </main>
    </section>
</body>
</html>