{% extends "root/root.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static "css/root/post.css" %}>
    <link rel="stylesheet" href={% static "css/root/edit_post.css" %}>
    <link rel="stylesheet" href={% static "css/slider.css" %}>
{% endblock head %}

{% block title %}EDIT POST{% endblock title %}

{% block content %}
    <section class="post-details">
        <div class="post-visual-container">
            {% if post.type == 'IM' %}
	            {% if post.sources|length == 1%}
		            <img src={{post.sources.0.url}} alt={{post.name}}>
	            {% else %}
		            <div class="slider-wrapper">
			            <div class="slider">
				            {% for src in post.sources %}
				                <img id="slide-{{src.name}}-{{forloop.counter}}" src={{src.url}} class="slide" alt="{{src.name}}-slide-{{forloop.counter}}">
				            {% endfor %}
			            </div>
			            <div class="dots">
				            {% for src in post.urls %}
					            <a href="#slide-{{src.name}}-{{forloop.counter}}"></a>
				            {% endfor %}
			            </div>
		            </div>
	            {% endif %}
                <i class="overlay-icon material-icons">upload</i>
            {% else %}
                <img src="{{post.sources.0.thumbnail_url}}" alt="post.name">
                <i class="overlay-icon material-icons">upload</i>
            {% endif %}
        </div>
        <div class="edit-list-container">
            <form action="{% url "root:edit_post" post.id%}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <span class="edit-name-container">
                    <h4>Nombre:</h4>
                    {{form.name}}
                </span>
                <h4>Nueva Descripción:</h4>
                {{form.des}}
                {{form.file}}
                <button type="submit">Actualiza la publicación</button>
            </form>
        </div>
    </section>
    <script src={% static "javascript/edit_post.js" %}></script>
{% endblock content %}