{% extends "root/root.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static "css/root/post.css" %}>
    <link rel="stylesheet" href={% static "css/slider.css" %}>
{% endblock head %}

{% block title %}POST{% endblock title %}

{% block content %}
    <section class="post-details">
        <div class="post-visual-container">
            {% if post.sources.0.type == 'IM' %}
	            {% if post.sources|length == 1%}
		            <img src={{post.sources.0.url}} alt={{post.name}}>
	            {% else %}
		            <div class="slider-wrapper">
			            <div class="slider">
				            {% for source in post.sources %}
				                <img id="slide-{{source.name}}-{{forloop.counter}}" src={{source.url}} class="slide" alt="{{source.name}}-slide-{{forloop.counter}}">
				            {% endfor %}
			            </div>
			            <div class="dots">
				            {% for source in post.sources %}
					            <a href="#slide-{{source.name}}-{{forloop.counter}}"></a>
				            {% endfor %}
			            </div>
		            </div>
	            {% endif %}
            {% else %}
                <video controls>
                    <source src={{post.sources.0.url}} type={{post.sources.mime_type}}>
                </video>
            {% endif %}
        </div>
        <div class="comment-list-container">
            <h2>{{post.name}}</h2>
            <br>
            {% if post.description %}
                <h3>Descripción:</h3>
                <p class="comment-description">
                    {{post.description}}
                </p>
            {% endif %}
            <h3>Comentarios:</h3>
            {% if post.comments|length == 0 %}
                <p class="no-comment-list">No hay comentarios</p>
            {% else %}
                <ul class="comment-list">
                {% for comment in post.comments %}
                    <li>
                        <div class="comment-list-item">
                            <strong>{{comment.author.name}}</strong>
                            {{comment.text}}
                        </div>
                        <a href="{% url "posts:remove_comment" post.id comment.id %}"><i class="material-icons">delete</i></a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <div class="actions-buttons">
                <button><a href="{% url "root:delete_post" post.id %}">Eliminar</a></button>
                <button><a href="{% url "root:edit_post" post.id %}">Editar</a></button>
            </div>
        </div>
    </section>
{% endblock content %}