.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px; /* Ajusta según lo necesites */
    overflow-x: hidden;
    margin: auto;
}

.carousel-wrapper {
    overflow-x: hidden;
    white-space: nowrap;
    width: 100%;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.carousel-images img {
    display: inline-block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
}

.carousel-button.prev {
    left: 0;
}

.carousel-button.next {
    right: 0;
}

.carousel-button:disabled {
    display: none;
}

.carousel-images img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    flex-shrink: 0;
}