{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static "/css/login.css" %}>
{% endblock head %}

{% block title %}SAMER{% endblock title %}

{% block content %}
<div class="container login-container">
    <form method="post" action="{% url "users:login" %}" class="form">
        {% csrf_token %}
        <div class="title">Bienvenido</div>
        <div class="subtitle">Inicia sesión en tu cuenta</div>
        <div class="input-container ic1">
            {{form.username}}
            <div class="cut"></div>
            <label for="username" class="placeholder">Usuario</label>
        </div>
        <div class="input-container ic2">
            {{form.password}}
            <div class="cut"></div>
            <label for="password" class="placeholder">Contraseña</label>
        </div>
        <button type="submit" class="submit">Inicia sesión</button>
    </form>
    {% if form.errors %}
        <div style="color: red;">
            <ul>
                {% for field, errors in form.errors.items %}
                    <li>{{ field }}: {{ errors|join:", " }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock content %}