{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static "/css/login.css" %}>
{% endblock head %}

{% block title %}SAMER{% endblock title %}

{% block content %}
<div class="container login-container">
    <form method="post" action="{% url "users:register" %}" class="form">
        {% csrf_token %}
        <div class="title">Bienvenido</div>
        <div class="subtitle">Incia sesión en tu cuenta</div>
        <div class="input-container ic1">
            {{form.username}}
            <div class="cut"></div>
            <label for="username" class="placeholder">Usuario</label>
        </div>
        <div class="input-container ic2">
            {{form.password1}}
            <div class="cut"></div>
            <label for="password1" class="placeholder">Contraseña</label>
        </div>
        <div class="input-container ic2">
            {{form.password2}}
            <div class="cut"></div>
            <label for="password2" class="placeholder">Confirmar contraseña</label>
        </div>
        <button type="submit" class="submit">Inicia sesión</button>
    </form>
</div>
{% endblock content %}