{% extends "root/root.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href={% static "css/root/posts.css" %}>
{% endblock head %}

{% block title %}QUESTIONS{% endblock title %}

{% block content %}
    <div class="posts-header">
        <div class="post-header-content">
            <h3>Preguntas: {{questions|length}}</h3>
            <div class="dropdown">
                <button class="dropbtn" onmouseover="toggleActions()"><i class="material-icons">settings</i></button>
                <div class="dropdown-content">
                    <a class="delete-action" onclick="deleteAction(); return false;">
                        Eliminar
                    </a>
                    <a class="archive-action" style="widht: 100px" onclick="archiveAction(selectedRows); return false;">
                        Archivar/Desarchivar
                    </a>
                </div>
            </div>
        </div>
    </div>
    <table class="posts-table">
        <thead>
            <tr>
                <th></th>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Resuelta</th>
                <th>Me Gustas</th>
                <th>Archivada</th>
            </tr>
        </thead>
        <tbody>
            {% for question in questions %}
                <tr>
                    <td>
                        <input type="checkbox" onclick="toggleSelection(this, '{{question.id}}')">
                    </td>
                    <td onclick="window.location.href='{% url 'root:question_details' question.id %}'">
                        {{question.title}}
                    </td>
                    <td onclick="window.location.href='{% url 'root:question_details' question.id %}'">
                        {{question.author}}
                    </td>
                    <td onclick="window.location.href='{% url 'root:question_details' question.id %}'">
                        {% if question.resolve %}
                            Resuelta
                        {% else %}
                            No resuelta
                        {% endif %}
                    </td>
                    <td onclick="window.location.href='{% url 'root:question_details' question.id %}'">
                        {{question.likes|length}}
                    </td>
                    <td onclick="window.location.href='{% url 'root:question_details' question.id %}'">
                        {% if question.archive %}
                            Archivada
                        {% else %}
                            No archivada
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        const MODEL="Question";
        const CSRF_TOKEN = '{{ csrf_token }}';
    </script>
    <script src={% static "javascript/root_selector.js" %}></script>
{% endblock content %}